<ul>
<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
	<div class="alert alert-danger" role="alert">
	
		<%= error %>
	</div>	
	<% end %>
<% end %>
</ul>

<div class="col-md-1"></div>
<div class="col-md-3 text-display">
<div class="splash-wrapper">
	
	<h1>Sign Up</h1>

<form action="<%= users_url %>" method="POST" class="user-form">

	<input type="hidden"
			name="authenticity_token"
			value="<%= form_authenticity_token %>">	

	<label for="user_username_signup">Username</label>	
	<input type="text" name="user[username]" id="user_username_signup" class="txti"><br>
	
	<label for="user_password_signup">Password</label>	
	<input type="password" name="user[password]" id="user_password_signup" class="txti"><br>
<br>
	<input type="submit" value="Sign Up" class="btn-default">
</form>	

</div>
</div>
