<h2><%= user.escape('username') %></h2>

<ul class="nav nav-tabs">
  <!-- <li role="presentation" class="active" id="profile-tab"><a href="#">Profile</a></li> -->
  <li role="presentation" id="texts-tab" class="active"><a href="#">Texts</a></li>
  <li role="presentation" id="critiques-tab"><a href="#">Critiques</a></li>
  <li role="presentation" id="replies-tab"><a href="#">Replies</a></li>
  <li role="presentation" id="comments-tab"><a href="#">Comments</a></li>
	
</ul>
<div id="user-items-list">

</div>