	<div class="list-group index">
	<% texts.forEach(function(text){ %>
		<a href="#texts/<%= text.id %>" class="list-group-item index"><%= text.escape('title') %> 
			<span class="badge"><%= text.critiques().length %></span>
  <% })%></a>

</div>