Sort by: <button id="sort-users-texts-crits" data-sort-method="asc" 								class="btn-default"># of critiques</button>
<button id="sort-users-texts-title" data-sort-method="asc" 			 				class="btn-default">title</button>
<button id="sort-users-texts-id" data-sort-method="asc" 				class="btn-default">new/old</button>
	
<br><br>
	<div class="list-group index">
		
		
	<% texts.forEach(function(text){ %>
		<a href="#texts/<%= text.id %>" class="list-group-item index"><strong><%= text.escape('title') %></strong>
			<small><em><%= moment(text.escape('created_at')).fromNow() %></span></em></small>
			
			<span class="badge"><%= text.critiques().length %></span>
  <% })%></a>

</div>