COMMENT NEW
<form id="comment-submit">
	<textarea class="txta" name="content"></textarea>
	
	<input type="hidden" name="user_id" value="<%= window.currentUser.id %>">
	<input type="hidden" name="text_id" value="<%= text.id %>">
	
	<input type="submit" value="Submit"></input>
</form>	