<form id="comment-submit">
	<textarea class="txta-small" name="content"></textarea>
	
	<input type="hidden" name="user_id" value="<%= window.currentUser.id %>">
	<input type="hidden" name="text_id" value="<%= text.id %>">
	
	<input type="submit" value="Submit" class="btn-default"></input>
	<button id="cancel-button" class="btn-default">Cancel</button>
	
</form>	