<!-- COMMENT SHOW -->

<div class="reply-content"><%= comment.escape('content') %></div>

<small class="byline-small"><em>posted by <a href="#users/<%=comment.get('user_id')%>"><%= comment.escape('username') %></a> <%= moment(comment.escape('created_at')).fromNow() %></em><% if(comment.get('user_id') == window.currentUser.id) { %><span id="comment-delete" class="glyphicon glyphicon-trash" aria-hidden="true"></span><% } %></small>