<div class="col-md-1"></div>
<div class="col-md-3 text-display">
<div class="splash-wrapper">
	
	<h1>Sign Up</h1>

<form action="<%= users_url %>" method="POST" class="user-form">

	<input type="hidden"
			name="authenticity_token"
			value="<%= form_authenticity_token %>">	

	<label for="user_username_signup">Username</label>	
	<input type="text" name="user[username]" id="user_username_signup" class="txti"><br>
	
	<label for="user_password_signup">Password</label>	
	<input type="password" name="user[password]" id="user_password_signup" class="txti"><br>
<br>
	<input type="submit" value="Sign Up" class="btn-default">
</form>	

</div>
</div>


<div class="col-md-2"></div>
<div class="col-md-5 text-display about">
	Inspired by <a href="http://genius.com" class="hilite">genius.com</a>, Wordshop is a tool for writers to give and receive feedback on their work. The use of inline annotations allows users to leave critiques on specific portions of text. Sign up now to get started, or sign in with a guest account to explore.<br><br>
	
<button class="btn-default btn-lg" id="guest">Guest Sign-in</button><br><br>	
Wordshop was created by <a href="http://github.com/jeikei" class="hilite">John Kim</a>, a student at <a href="http://appacademy.io" class="hilite">App Academy</a> in San Francisco.
</div>
<div class="col-md-1"></div>

	