<div class="col-md-3 text-display">
<div class="splash-wrapper">
	
	<h1>Sign Up</h1>

<form action="<%= users_url %>" method="POST" class="user-form">

	<input type="hidden"
			name="authenticity_token"
			value="<%= form_authenticity_token %>">	

	<label for="user_username">Username</label>	
	<input type="text" name="user[username]" id="user_username" class="txti"><br>
	
	<label for="user_password">Password</label>	
	<input type="password" name="user[password]" id="user_password" class="txti"><br>
<br>
	<input type="submit" value="Sign Up" class="btn-default">
</form>	

</div>
</div>


<div class="col-md-1"></div>
<div class="col-md-5 text-display about">
	Inspired by genius.com, WORDSHOP is a tool for writers to give and receive feedback on their work. Migas listicle cornhole mlkshk pickled Etsy. Synth stumptown lo-fi Blue Bottle, distillery 90's migas mixtape health goth Tonx chia flannel direct trade polaroid. Cliche small batch XOXO blog tofu. Chambray Marfa roof party, keytar bitters whatever you probably haven't heard of them health goth. Viral iPhone meditation, taxidermy tilde Tumblr semiotics Carles art party quinoa lumbersexual Tonx crucifix. Wes Anderson synth tilde Pinterest. Umami Bushwick iPhone listicle.
</div>
