/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap";
@import "bootstrap-sprockets";

.navbar{
	height: 80px;
	padding: 8px;
	background: cyan;
}

.navbar-default .navbar-brand{
	font-family: Special Elite, serif;
	font-size: 36px;
	font-weight:bold;
	color: black;
	padding-top:25px;	
}

.btngrp{
	padding:10px;
	padding-top: 15px;
	float: right;
	
}

.btn-default{
	background:cyan;
	border:none;
}

.btn-default:hover{
	background:white;
}



.txta{
	margin-left: auto;
	resize: none;
	width: 100%;
	height: 250px;
	color:black;
	background:lightgrey;
	font-size: 16px;
}

form.button_to{
	display: inline-block;
}

.crit{
	border: 1px solid black;
}

.crit-show{
	border: 1px dashed grey;
	width: 100%;
	word-wrap: break-word;
	padding: 5px;
}

.byline{
	background: grey;
	display:block;
	color: white;
	text-align: center;
}

.hilite{
	background:cyan;
	margin-top: 0px;
	
}

a.hilite:hover{
	background: grey;
	color:white;
	text-decoration:none;
}

a{
	text-decoration:none;
	color: black;
}

a:hover{
	color: cyan;
}

a.index:hover{
	color: grey;
	background:cyan;
	font-style: italic;
}

body{
	font-family: 'Courier New', monospace;
}