/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"; 
@import "bootstrap";

/*site-wide*/
body{
	background-image: url("http://remagez.files.wordpress.com/2014/02/img_3261.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Courier New', monospace;
}

a{
	color:black;
}

a:hover{
	color: cyan;
}

.no-sidebar{
width: 700px;
margin-left: auto;
margin-right :auto;
}

#footer{
height: 100px;
width: 100%;
}

.alert{
	background: cyan;
	color: black;
	border: none;
}

/*navbar*/
.navbar{
	height: 80px;
	padding: 8px;
	background: cyan;
	border:none;
}

.navbar-default .navbar-brand{
	font-family: Special Elite, serif;
	font-size: 36px;
	font-weight:bold;
	color: black;
	padding-top:25px;	
}

.navbar-form{
background: cyan;
}

.btngrp{
	padding: 10px;
	padding-top: 15px;
	float: right;
	background: cyan;
}

form.button_to{
	display: inline-block;
}

/*buttons*/
.btn-default, .btn-primary{
	background: cyan;
	border: none;
  border-radius: 5px;
	margin: 2px;
	color: black;
}

.btn-default:hover, .btn-primary:hover{
	background: white;
	color: black;
}

.btn-primary:focus{
	background:cyan;
	color:black;
}

/*input boxes*/
.txta{
	resize: none;
	width: 100%;
	height: 200px;
	color:black;
	background:lightgrey;
  border-radius: 5px;
	border: 1px solid black;
	
}

.txta-small{
	margin-top: 5px;
	resize: none;
	width: 100%;
	height: 100px;
	color:black;
	background:lightgrey;
  border-radius: 5px;
	border: 1px solid black;
	
}

.txti{
	background:lightgrey;
	width:100%;
	border: 1px solid black;
  border-radius: 5px;
}


.txti-small{
	background:lightgrey;
	width:200px;
	border: 1px solid black;
  border-radius: 5px;
}


/*shared by texts, crits, comments, replies*/
.byline{
	background: lightgrey;
	display:block;
	margin-top: 10px;
	height:30px;
	padding-top:5px;
	padding-left: 5px;
}

.byline-small{
	display:block;
	background:whitesmoke;
	height:15px;
	padding-left:5px;
	padding-right:5px;
}

.hilite{
	background:cyan;
	margin-top: 0px;	
}

.glyphicon-trash:hover{
	cursor:pointer;
}

/*annotation*/
a.hilite:hover{
	background: grey;
	color:white;
	text-decoration:none;
}

/*TextsIndex and UserTextsIndex*/
a.index:hover{
	color: grey;
	background:cyan;
}

/*TextsIndex*/
strong{
	display:inline-block;	
}

.badge{
margin-left:25px;
margin-right:5px;
}

/*UserShow*/
.user-tab, .badge{
margin-left:0px;
margin-right:0px;
}

.user-item-show{
	margin:5px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding:5px;
}

.tab-show{
	margin:20px;
}

.quote{
	padding-left:5px;
}

/*TextShow*/
pre#text-content{
	margin-top: 10px;
	background:none;
	border: 1px dashed grey;
	padding: 5px;
	text-align: left;
	word-wrap:normal;
}

#text-sidebar{
	background:white;
	position:absolute;
	right:0px;
	padding:0px;
}

.h-not-block{
	display:inline-block;
}

/*TextNew*/
textarea#text-content{
	white-space: pre;
	word-wrap: normal;
}


/*Delete Icons*/
#crit-delete, #reply-delete, #comment-delete{
	float: right;
	margin-right:5px;
}

/*critique show*/
.crit-show{
	border: 1px dashed grey;
  border-radius: 5px;
	width: 100%;
	word-wrap: break-word;
	padding: 5px;
}

div#crit-content{
	background:none;
	border:none;
	padding:0px;
	white-space:pre-line;
	padding-bottom:5px;
	margin:5px;
}

/*Reply Show*/
.reply-show{
	border: 1px solid lightgrey;
	margin:2px;
	white-space:pre-line;
  border-radius: 5px;
}

.reply-content{
	padding:2px;
	margin:5px;
}

/*Splash page*/
form.user-form{
	width: 200px;
}

div.splash-wrapper{
	background:white;
  width:max-content;
  padding:30px;
	border-radius:5px;
	opacity:0.9;

}

div.about{
	background:white;
	border-radius:5px;
	padding:30px;
	opacity:0.9;
	
}