<h4 class="hilite"><%= text.get('content').slice(
			critique.get('start_idx'),
			critique.get('end_idx') + 1
) %></h4>

<div id='crit-content'>
<%= critique.escape('content') %>
</div>

<br>
<em class="byline"> - <a href="#users/<%= critique.user().id %>">
	<%= critique.user().escape('username') %></a> - </em>