<h4 class="hilite"><%= text.escape('content').slice(
			critique.get('start_idx'),
			critique.get('end_idx') + 1
) %></h4>

<%= critique.escape('content') %>
<br>
<em>- <%= critique.user().escape('username') %></em>