<form id="reply-submit">
	<textarea class="txta-small" name="content"></textarea>
	
	<input type="hidden" name="user_id" value="<%= window.currentUser.id %>">
	<input type="hidden" name="critique_id" value="<%= crit.id %>">
	
	<input type="submit" value="Submit"></input>
	<button id="cancel-button">Cancel</button>
</form>	