<div class="reply-content"><%= reply.escape('content') %></div>

<small class="byline-small"><em>posted by <a href="#users/<%=reply.user().id%>"><%= reply.escape('username') %></a> <%= moment(reply.escape('created_at')).fromNow() %></em><% if(reply.user().id == window.currentUser.id) { %><a class="delete-small">x</a><% } %></small>