<div class="reply-content"><%= reply.escape('content') %></div>

<small class="byline-reply"><em>posted by <a href="#users/<%=reply.user().id%>"><%= reply.user().escape('username') %></a></em></small>