<h2>Featured texts:</h2>
	
	<div class="list-group index">
	<% texts.forEach(function(text){ %>
		<a href="#texts/<%= text.id %>" class="list-group-item index"><%= text.escape('title') %> by <%= text.user().escape('username') %> 
			<span class="badge"><%= text.critiques().length %></span>
  <% })%></a>

	<ul>