<form id="text-new-form">
	<h2>Add new text</h2>
	<label for="text-title">Title:</label>
	<input type="text" name="title" id="text-title" class="txti"><br>
	<br>
	<label for="content" id="text-content">Text:</label>
	<textarea name="content" id="text-content" class="txta"></textarea>
	<input type="hidden" name="user_id" value="<%= window.currentUser.id %>">
	
	<input type="submit" value="Submit" class="btn-default">
</form>	