<h2><%= text.escape('title') %></h2>
by 
<a href="#/users/<%= text.user().id %>">
	<%= text.user().escape('username') %></a>
<% if(window.currentUser.id == text.user().id){ %>
	<button id="text-delete" class="btn-default">Delete</button>
<% } %>	
<pre id="text-content"><%= text.annotatedContent() %></pre>

<div id="text-comments"></div>
ADD NEW COMMENT:
<div id="text-new"></div>
